@model IEnumerable<ProjectCoffee.Models.Cart>

@{
    ViewBag.Title = "Index";
}

<h2>My Order</h2>
<link rel="stylesheet" href="~/Content/css/Product.css">
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Product)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.message)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.Product }) |
        @Html.ActionLink("Details", "Details", new { id = item.Product }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Product })
    </td>
</tr>
}

</table>
