@model IEnumerable<ProjectCoffee.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<link rel="stylesheet" href="~/Content/css/Details.css">

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameProduct)

        </th>
        <th>

            @Html.DisplayNameFor(model => model.price)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>

                @Html.DisplayFor(modelItem => item.NameProduct)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.price)

            </td>
            <td>
                <div>

                    <img src="@item.image" alt="image" style="height: 295px;" />
                </div>
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.NameProduct }) |
                @Html.ActionLink("Details", "Details", new { id = item.NameProduct }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.NameProduct })
            </td>
        </tr>
    }

</table>
